{%- if site.analytics.google.tracking_id -%}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
	<script src="https://cdn.staticfile.org/jquery/3.6.4/jquery.min.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.analytics.google.tracking_id }}');
		{% if site.analytics.google.anonymize_ip == true %}
		gtag('config', '{{ site.analytics.google.tracking_id }}', { 'anonymize_ip': true });
		{% endif %}


		$('a').bind('click', function () {
			alert('click');
		});

		$(document).ready(function () {
			$('a').bind('click', function () {
				let url = $(this).attr('href');
				// alert('click');
				gtag('event', 'a_url', { 'event_name': "a_url", 'url': url });
			});
		});
	</script>
{%- endif -%}